.hero-page {
    position: relative;
  /* overflow-x: hidden; */
    
}


.hero-card {
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--glass-backdrop);
  border: var(--border);
  background: var(--glass-bg);
  /* position: relative; */
}

.hero-text{
  background: var(--gradient-4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.btn2{
  background-color: rgba(var(--btn-bg));
  color: white;
}

.btn2:hover{
  background: rgba(var(--btn-bg), 0.6);
  color: white;
}

.bg-transparent{
  border-color: var(--gradient-4);
}

.text-gray{
  color: var(--color2)
}


/* THE COOL EFFECT BEHIND HOMEPAGE CARD */

.effect-1 {
  height: 400px;
  width: 400px;
  position: absolute;
  bottom: -110px;
  right: -80px;
  background: var(--gradient-4);
  opacity: 0.5;
  box-shadow: 2px 4px 27px 10px #ac3898;
  backdrop-filter: (20px);
  filter: blur(70px);
  border-radius: 50%;
  z-index: -10;
  overflow-x: hidden;

}


  /* TARGETING ANDROID PHONES */

  @media  screen and (max-width: 600px){
    .effect-1{
      position: absolute;
      top: 36%;
      left: 60%;
    }

    .effect-2{
      position: absolute;
    bottom: -70%;
      left: -20%;
    }
  }




  /* @keyframes shimmy {
    to {
      transform: translateX(-10%);
    }
  }
   */