.hero-page {
    position: relative;
}


.hero-card {
  border-radius: 25% 0;
  box-shadow: var(--glass-shadow);
  backdrop-filter: var(--glass-backdrop);
  border: var(--border);
  background: var(--glass-bg);
  position: relative;

}

.text-gray{
  color: var(--color2)
}


/* THE COOL EFFECT BEHIND HOMEPAGE CARD */

.effect-1 {
  height: 200px;
  width: 200px;
  position: absolute;
  top: 20px;
  left: 60%;
  background: var(--gradient-3);
  opacity: 0.5;
  box-shadow: 2px 4px 27px 10px #ac3898;
  backdrop-filter: (120px);
  filter: blur(20px);
  border-radius: 50%;
  z-index: -10;
}

/* .effect- {
    height: 200px;
    width: 200px;
    position: absolute;
    bottom: -50%;
    left: -1%;
    background: var(--gradient-4);
    opacity: 0.5;
    box-shadow: 40px 4px 27px 10px #556270;
    backdrop-filter: blur(80px);
    filter: blur(3px);
   -webkit-backdrop-filter: blur(80px);
    border-radius: 50%;
    z-index: -10;
  } */


  /* TARGETING ANDROID PHONES */

  @media  screen and (max-width: 600px){
    .effect-1{
      position: absolute;
      top: 36%;
      left: 60%;
    }

    .effect-2{
      position: absolute;
    bottom: -70%;
      left: -20%;
    }
  }




  @keyframes shimmy {
    to {
      transform: translateX(-10%);
    }
  }
  