body {
  background-color: #000000f6;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --gradient-1: linear-gradient(43deg, #5e72d6 0%, #c850c0 46%, #ffcc70 100%);
  --gradient-2: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  --gradient-3: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
  

  --color1: brown;
  --color2: white;
}
